
textarea {
  box-sizing: border-box;
  font: 12px arial;
    height: 200px;
    margin: 5px 0 15px 0;
  padding: 5px 2px;
    width: 100%;  
}
.borderojo {
    outline: none;
    border: 1px solid #f00;
}
.bordegris { border: 1px solid #d4d4d; }